{% extends "base.html" %}
{% load static %}

{% block title %}{{ post.title }} - Rescue Me Blog{% endblock %}

{% block content %}
<div class="blog-header">
    <div class="container">
        <h1>{{ post.title }}</h1>
        <div class="blog-meta">
            <i class="fas fa-calendar-alt"></i> {{ post.created_on|date:"F d, Y" }}
            <i class="fas fa-user ml-3"></i> {{ post.author }}
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10">
            <article class="blog-card card">
                <div class="card-body">
                    <div class="article-content">
                        {{ post.content|linebreaks }}
                    </div>
                    <div class="mt-4">
                        <a href="{% url 'blog:blog_list' %}" class="btn blog-btn">
                            <i class="fas fa-arrow-left"></i> Back to Blog
                        </a>
                    </div>
                </div>
            </article>
        </div>
    </div>
</div>
{% endblock %}