{% extends 'components/base.html' %}{% load static %}

{% block extra_css %}
<link href="{% static 'shop/css/cancel.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block title %}Payment Cancelled{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/payment.css' %}">
{% endblock %}
{% block content %}
    <h1>Payment Cancelled</h1>
    <section>
        <p>Forgot to add something to your cart? Shop around then come back to pay!</p>
        <a href="/checkout">Checkout</a>

    </section>

{% endblock %}