{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="test-container">
        <h1>Static Files Test</h1>
        <div class="test-box">
            This box should be styled if CSS is loading correctly
        </div>
        <div class="debug-info">
            <h2>Debug Information:</h2>
            <p>STATIC_URL: {{ STATIC_URL }}</p>
            <p>CSS Path: {% static 'hello_world/css/styles.css' %}</p>
        </div>
    </div>
</div>
{% endblock %}