{% extends 'base.html' %}
{% load static %}

<!-- CSS -->
<link rel="stylesheet" href="{% static 'core/css/styles.css' %}">

<!-- JavaScript -->
<script src="{% static 'core/js/navbar.js' %}"></script>

{% block title %}500 - Server Error{% endblock %}

{% block content %}
<div class="container text-centre py-5">
    <h1>500 - Server Error</h1>
    <p>Something went wrong on our end. Please try again later.</p>
    <a href="{% url 'index' %}" class="btn btn-primary">Return Home</a>
</div>
{% endblock %}