{% extends 'components/base.html' %}{% load static %}
{% block extra_css %}
<link href="{% static 'core/css/home.css' %}" rel="stylesheet" type="text/css">
{% endblock %}
{% block title %}Rescue Me - Animal Rescue Marketplace{% endblock %}

{% block content %}
<div class="header-section">
    <div class="content-wrapper">
        <div class="header-content">
            <div class="text-content">
                <h1>Welcome to Rescue Me</h1>
                <p>The first central marketplace for animals from rescue shelters.</p>
                <div class="description">
                    <p>We are dedicated to connecting animals with compassionate people who are ready to provide a forever home. Our platform is designed to make the adoption process seamless, informative and rewarding for both animals and adopters.</p>
                    <p>Follow our story as we build out a UK wide database of animals in need of adoption, our full web-platform is coming soon so please get in touch if you are a volunteer or wanting to be part of our story.</p>
                </div>
            </div>
            <div class="newsletter-signup">
                <h3>Join Our Journey</h3>
                <form>
                    <input type="text" placeholder="Name" required>
                    <input type="email" placeholder="Email Address" required>
                    <button type="submit">Subscribe to Newsletter</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}